<!DOCTYPE html>
<html ng-app="netpresenter">
<head>
  <title>Netpresenter</title>
  <link rel="stylesheet" href="dist/css/all.min.css">
  <script src="dist/js/all.min.js"></script>
</head>
<body>
  <div ng-controller="NetpresenterController">
    <div ng-repeat="slide in slides track by $index">
      <div class="fullscreen-img" ng-show="currentSlide == $index">
        <img src="{{url}}{{slide.href}}"></img>
      </div>
    </div>
    <div class="settings-btn" ng-click="openSettings()">
      <button>Settings</button>
    </div>
  </div>
</body>
</html>
