body, html {
  height: 100%;
  background-color: #000;
}

div.fullscreen-img img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    zoom: 10;
}

div.settings-btn {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

div.settings-btn button {
  border: none;
  background-color: Transparent;
  outline: none;
  cursor: pointer;
  font-size: 2em;
  opacity: 0.5;
}

div.settings-btn button:hover {
  opacity: 0.8;
}